<!DOCTYPE html>
<html lang="es-AR">

<%- include('../partials/head',{'titulo':datos.titulo}) %>

<body>
    <%- include('../partials/headers',{ infoUsuario: infoUsuario }) %>
  <!---<main class="cont air-v">
    <div class="breadcrumb">
        <a href="/" itemprop="itemListElement" typeof="ListItem">
            <span itemprop="item">
                <span itemprop="name">HOME</span>
                <meta itemprop="position" content="1">
            </span>
        </a>
        <span class="sep"> /</span>
        <a href="/cat/supra/5/equipos/1" itemprop="itemListElement" typeof="ListItem">
            <span itemprop="item">
                <span itemprop="name">EQUIPOS</span>
                <meta itemprop="position" content="2">
            </span>
        </a>
        <span class="sep"> /</span>
        <a href="/images/productos/placeholder.png" itemprop="itemListElement" typeof="ListItem">
            <span itemprop="item">
                <span itemprop="name"> PC ARMADA AMD ATHLON </span>
                <meta itemprop="position" content="3">
            </span>
        </a>
       
        
    </div>

    <div class="product">
        <div class="img air">
            <div class="featured">
                <img id="mainpic" src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="more">
                <div class="item">
                    <img src="/images/products/placeholder.png" alt="Aqui detalles de otros productos">
                </div>
                <!-- Additional images gallery --
            </div>
            <div class="info-img">
                * LAS IMÁGENES SON AL EFECTO MERAMENTE ILUSTRATIVO, SON PLACEHOLDER
            </div>
        </div>
<BR><BR>
        <div class="meta">
            <h1><%= product.name %></h1>
            <div class="shipping">
                Código del producto: <strong><%= product.productCode %></strong>
            </div>
            <div class="price-main">
                Precio efectivo o transferencia <br><span class="price-num">$<%= product.cashPrice %></span> <span style="display:none" class="price-old">$259.126,92</span>
            </div>
            <div class="price-mp">
                Precio MercadoPago $<%= product.mercadoPagoPrice %> <img src="/images/mercadopago.png" alt="imagen mercadopago" width="100px">
            </div>
            <div class="price-main" style="font-size:22px">
                ¡6 cuotas de  $49.077,07!
            </div>
            <div class="shipping">
                <span>Solo para envío a domicilio, entrega en 72hs</span>
            </div>
            <div class="tags">
                <span class="tag tag-stock">En stock</span>
            </div>
            <div class="qty">
                <form action="javascript:void(0)" id="AddCart">
                    <input type="hidden" name="idprod" value="11398">
                    <button onclick="decrementValue('');"><i class="fas fa-minus"></i></button>
                    <input style="width: 60px;text-align: center;" class="form-input" type="number" step="1" min="0" max="5" name="quantity" id="prod-qty" value="1" title="Cantidad" inputmode="numeric" size="5">
                    <button onclick="incrementValue('');"><i class="fas fa-plus"></i></button>
                </form>
            </div>
            <div class="ctas">
                <div class="item" style="width:100%; margin-bottom:10px;"><a data-modal="#modalwin" name="modal" class="btn-accent">Comprar ahora</a></div>
                <div class="item"><a data-modal="#modalwin" name="modal" class="btn-outline"><i class="fas fa-shopping-cart"></i> Agregar</a></div>
                <div class="item"><button data-modal="#modalenvio" name="modal" class="btn-outline btn-full">Calcular envío</button></div>
            </div>
            <div class="ctas ctasalt">
                <div style="display:none" class="item"><button data-modal="#modalcuotas" name="modal" class="btn-outline btn-full">Calcular cuotas</button></div>
            </div>
        </div>

      <div class="meta-tags">
        <a href="/tag/pc">pc</a>
        <a href="/tag/amd">amd</a>
        <a href="/tag/athlon">athlon</a>
        <a href="/tag/max5">max5</a>
      </div>

        <div class="info air">
            <h1>ESTE EQUIPO ARMADO INCLUYE:</h1>
            <ul>
              <li>1 - MOTHER A320M DDR4 AM4</li>
              <li>1 - MEMORIA 8GB 3200 DDR4</li>
              <li>1 - HD SSD 240GB</li>
              <li>1 - MICRO AMD ATHLON 3000G C/VIDEO RADEON VEGA 3 INTEGRADO</li>
              <li>1 - PAD</li>
              <li>1 - PENDRIVER 8GB</li>
              <li>1 - WIFI-USB</li>
            </ul>
            <p>*** NO INCLUYE SISTEMA OPERATIVO ***<br>
                *** INCLUYE TECLADO / MOUSE ***</p>
        </div>
<br>
        <div class="also air">
            <h2>Productos relacionados</h2>
            <div class="also-products">
                <div class="item product-xs">
                    <a href="/prod/11063/pc-armada-amd-athlon-3000g-8gb-1tb-ssd-monitor-22">
                        <div class="image-full">
                            <img src="/images/productos/placeholder.png"alt="pc-armada-amd-athlon-3000g-8gb-1tb-ssd-monitor-22">
                        </div>
                        <div class="info">
                            <h3 class="tituloalto" style="height: 55px;">PC ARMADA AMD ATHLON 3000G+8GB+1TB SSD+MONITOR 22"</h3>
                            <br>
                            <div class="price">Precio Contado: $404.489,92 <br><span class="price-promo">Promo: $444.938,88</span></div>
                            <div class="cta">
                                <div class="btn btn-outline" onclick="quickAddCart(11063,1)">
                                    <i class="fas fa-shopping-cart"></i> Agregar
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Additional related products --
            </div>
        </div>

      <div class="prod-code">Código del producto: PCA003</div>
    </div>
</main> --->

<main class="main-container">
    <!--<header class="header">
      <!--<div class="header__navigation">
        <img class="header__menu" src="./images/icon-menu.svg" alt="menu icon">
        <img class="header__logo" src="./images/logo.svg" alt="logo">

        <nav class="navbar">
          <ul class="navbar__items">
            <li><a class="navbar__link" href="#">Collections</a></li>
            <li><a class="navbar__link" href="#">Men</a></li>
            <li><a class="navbar__link" href="#">Women</a></li>
            <li><a class="navbar__link" href="#">About</a></li>
            <li><a class="navbar__link" href="#">Contact</a></li>
          </ul>
        </nav>


      </div> -->

      <!-- inicio modal navbar --
      <div class="modal-navbar__background">
        <nav class="modal-navbar">
          <img class="modal-navbar__close-icon" src="./images/icon-close.svg" alt="" srcset="">
          <ul class="modal-navbar__items">
            <li><a class="modal-navbar__link" href="#">Collections</a></li>
            <li><a class="modal-navbar__link" href="#">Men</a></li>
            <li><a class="modal-navbar__link" href="#">Women</a></li>
            <li><a class="modal-navbar__link" href="#">About</a></li>
            <li><a class="modal-navbar__link" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- final modal navbar --

      <div class="header__cart-avatar">
        <div class="header__cart">
          <div class="header__cart--notification">0</div>
          <img src="./images/icon-cart.svg" alt="">
        </div>
        <img class="header__avatar" src="./images/image-avatar.png" alt="">
      </div>--
    </header>-->

    <section class="content">
      <article class="gallery">
        <div class="gallery__image-container">
          <img class="gallery__previus" src="/images/icon-previous.svg" alt="previus">
          <img class="gallery__next" src="/images/icon-next.svg" alt="next">
        </div>
        <div class="gallery__thumnails">
          <% if (product.images) { %>
            <% Object.values(product.images).forEach((imagen,index) => { %>
              <img id="<%= index %>" class="gallery__thumnail" src="<%= product.image %>" alt="thumnail" href="/products/<%= product.productId %>">
            <% }) %>
          <% } %>
         
        </div>
      </article>

      <article class="details">
        <h2 class="details__company"> <%= product.category %></h2>
        <h2 class="details__title"> <%= product.name %></h2>
        <p class="details__description">These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
        <div class="details__prices">
          <p class="details__now">$<%= product.price %></p>
        </div>
        <div class="details__product-quantity">
          <div class="input">
            <img class="input__minus" src="/images/icon-minus.svg" alt="minus">
            <input class="input__number" type="text" value="0">
            <img class="input__plus" src="/images/icon-plus.svg" alt="plus">
          </div>
          <button class="btn btn-primary"> <img src="/images/icon-cart-white.svg" alt=""> Add to cart</button>
        </div>
      </article>
    </section>

    <!-- inicio cart modal -->
    <div class="cart-modal">
      <p class="cart-modal__title">Cart</p>
      <div class="cart-modal__chekout-container">
        <div class="cart-modal__details-container">
          <img class="cart-modal__image" src="/public/images/<%= product.productId %>" alt="">
          <div>
            <p class="cart-modal__product">Autumn Limited Edition...</p>
            <p class="cart-modal__price">$125 x3 <span>$375.00</span> </p>
          </div>
          <img class="cart-modal__delete" src="/public/images/icon-delete.svg" alt="delete">
        </div>
        <button class="cart-modal__chekount" >Checkout</button>
      </div>
    </div>
    <!-- fin cart modal -->

    
  </main>
  <!-- inicio gallery modal -->
  <div class="modal-gallery__background">
    <article class="modal-gallery">
      <div class="modal-gallery__close-container">
        <img class="modal-gallery__close" src="/public/images/icon-close.svg" alt="icon close">
      </div>
      <div class="modal-gallery__image-container">
        <img class="modal-gallery__previus" src="/public/images/icon-previous.svg" alt="previus">
        <img class="modal-gallery__next" src="/public/images/icon-next.svg" alt="next">
      </div>
      <div class="modal-gallery__thumnails">
        <img id="m1" class="modal-gallery__thumnail" src="<%= product.image %>" alt="thumnail" href="/products/<%= product.productId %>">
        <img id="m2" class="modal-gallery__thumnail" src="<%= product.image %>" alt="thumnail" href="/products/<%= product.productId %>">
        <img id="m3" class="modal-gallery__thumnail" src="<%= product.image %>" alt="thumnail" href="/products/<%= product.productId %>">
        <img id="m4" class="modal-gallery__thumnail" src="<%= product.image %>" alt="thumnail" href="/products/<%= product.productId %>">
      </div>
    </article>
  </div>
  <!-- fin gallery modal -->
<%- include('../partials/footer',{'pie':datos.pie}) %>

<%- include('../partials/script') %>
</body>

</html>