<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head',{'titulo':datos.titulo}) %>
    

</head>
<body>
  <div id="loader"></div>
    <%- include('./partials/headers',{'titulo':datos.titulo}) %>
    <section class="content">
        <div class="container-fluid">
            <div class="row" style="display: flex; justify-content: center;">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Póngase en contacto con nuestro equipo</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- activo mensaje si hace post -->
                        <% if(datos.msg){ %>
                          <div class="alert alert-success" role="alert">
                            <h5><i class="icon fas fa-check"></i> Gracias por su consulta!</h5>
                                <%= datos.msg %>
                          </div>
                        <% } %>
                        <!-- form start -->
                        <form action="/contact" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese Nombre" required>
                                </div>
                                <div class="form-group">
                                    <label for="apellido">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese Apellido" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese correo electronico" required>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label for="email">Departamento</label>
                                    <select class="form-control" name="departamento">
                                        <option>Venta</option>
                                        <option>Reparación</option>
                                        <option>Consulta 1 - a determinar</option>
                                        <option>Consulta 2 - a determinar</option>
                                        <option>Consulta 3 - a determinar</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="email">Ingrese su consulta</label>
                                    <textarea name="observacion" class="form-control" cols="10" rows="5"></textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Enviar Consulta</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer',{'pie':datos.pie}) %>
    <%- include('./partials/script') %>
</body>
</html>