<!DOCTYPE html>
<html lang="es-AR">
<%- include('./partials/head',{'titulo':datos.titulo}) %>

<body>
  <%- include('./partials/headers',{ infoUsuario: infoUsuario }) %>
  <main>
    <section class="products__section" id="products__section">
      <div id="hero-carousel banner-height" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner banner-height">
          <% promos.forEach((promo,index) => { %>
            <% if(index==0){ %>
              <div class="carousel-item banner-height active">
                <img src="<%= promo.image %>" class="img-resize w-100" alt="...">
              </div>
            <% }else{ %>
              <div class="carousel-item banner-height">
                <img src="<%= promo.image %>" class="img-resize w-100" alt="...">
              </div>
          <% }}) %>
        </div>
      </div>

      <% if(producDelete){ %>
        <div class="alert alert-success" role="alert">
          <h5><i class="icon fas fa-check"></i> Se borro un producto!</h5>
              <%= producDelete %>
        </div>
      <% } %>

      <h2 class="products__section--title">Productos Destacados</h2>
      <div class="card__wrapper">
        <% for(let product of products){ %>
        <div class="product__card">
          <!-- aqui para editar, podemos cambiarlo de lugar-->
          <% if (infoUsuario!="No hay Datos") { %>
            <a href="/admin/edit/<%= product.productId %>"><i class="fas fa-edit"></i></a>  
            <a href="/admin/delete/<%= product.productId %>"><i class="fas fa-eraser"></i></a>
          <% } %>
          <a href="/products/<%= product.productId %>"><img src="<%= product.image %>" alt="Producto 1"></a>
          <div class="product__description">
            <p class="product__cathegory">
              <%= product.category %>
            </p>
            <a class="product__link" href="/products/<%= product.productId %>">
              <h3 class="product__name text-truncate">
                <%= product.name %>
              </h3>
            </a>
            <p class="product__price">$<%= product.price %>
            </p>
            <a href="/products/<%= product.productId %>"><i class="fas fa-info-circle"></i>Ver detalles</a>
            <button class="details__button">Agregar al
              <span>
                <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
              </span>
            </button>
            <% if (infoUsuario!="No hay Datos") { %>
              <% if (infoUsuario.category == "Administrator") { %>
                <form action="/admin/deletepost/<%= product.productId %>?_method=DELETE" method="post">
                  <button class="details__button">Eliminar Producto
                    <span>
                      <i class="fa-solid fa-trash" style="color: #c90b0b;"></i>
                    </span>
                  </button>
                </form>
              <% } %>
            <% } %>
            
          </div>
        </div>
        <% } %>
    </section>
  </main>

  <%- include('./partials/footer',{'pie':datos.pie}) %>
  <%- include('./partials/script') %>


</body>

</html>