<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <section class="container">
    </section>
    <section class="page">
        <%- include('./partials/acciones_admin') %>
        <%- include('./partials/headers') %>
        <main class="main">
            <div class="contenedor-video">
                <video id="intro-video" autoplay loop muted>
                    <source src="/video/intro-l2.mp4">
                </video>
                <button id="mute-btn">
                    <i id="mute-icon" class="fa-solid fa-volume-xmark"></i>
                </button>
            </div>
            
            <section class="venta-compra" id="venta-compra">
                <div class="titulo titulo-block">
                    <i class="fa-solid fa-tags"></i> Las ofertas Del dia
                </div>
                <section class="lista-de-productos">
                    <article class="tarjeta-producto">
                        <a href="producto_detalle.html">
                            <div class="tarjeta-producto-imagen">
                                <img src="/images/productos/etc_recipe_yellow_i00.png">
                            </div>
                            <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/etc_sword_body_i00.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_dual_sword_i00.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_homunkuluss_sword_i00.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_homunkuluss_sword_i01.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_orcish_poleaxe_i00.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_orcish_poleaxe_i01.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_poleaxe_i00.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_poleaxe_i01.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_samurai_longsword_i00.png">
                        </div>
                        <div class="tarjeta-producto-info">
                                <h3 class="producto-info-nombre">Machete</h3>
                                <div class="producto-info-precio">
                                    <div class="tipo-pago">
                                        <span class="producto-precio-oro">5000 Adenas</span>
                                        <img src="/images/productos/adena.png" alt="adena">
                                    </div>
                                    <div class="tipo-pago">
                                        <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                        <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                    </div>
                                </div>
                            </div>
                    </article>
                </section>
                
            </section>
            <section class="oferta-destacados" id="venta-compra">
                <div class="titulo titulo-block">
                    <i class="fa-solid fa-tags"></i> Productos mas Destacados
                </div>
                <section class="lista-de-productos">
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_samurai_longsword_i01.png">
                        </div>
                        <div class="tarjeta-producto-info">
                        <h3 class="producto-info-nombre">Machete</h3>
                        <div class="producto-info-precio">
                            <div class="tipo-pago">
                                <span class="producto-precio-oro">5000 Adenas</span>
                                <img src="/images/productos/adena.png" alt="adena">
                            </div>
                            <div class="tipo-pago">
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar </span>
                                <img src="/images/productos/dolar.png" alt="adena" width="25px">
                            </div>
                        </div>
                    </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_scroll_of_wisdom_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <div class="producto-par-precio-oro-adena">
                                    <span class="producto-precio-oro">5000 Adenas </span><img class="icono-adena" src="/images/productos/adena.png" alt="adena">
                                </div>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_spirits_sword_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/shield_tower_shield_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas </span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/shield_composite_shield_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_sword_of_valhalla_i01.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_life_stick_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_soul_bow_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/etc_recipe_violet_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-producto">
                        <div class="tarjeta-producto-imagen">
                            <img src="/images/productos/weapon_eminence_bow_i00.png">
                        </div>
                        <div class="tarjeta-producto-info"></div>
                            <h3 class="producto-info-nombre">Machete</h3>
                            <div class="producto-info-precio">
                                <span class="producto-precio-oro">5000 Adenas <img src="/images/productos/adena.png" alt="adena"></span>
                                <span class="producto-precio-dinero">$2.20 Pesos/Dolar <img src="/images/productos/dolar.png" alt="adena"></span>
                            </div>
                        </div>
                    </article>
                </section>
                
            </section>
        </main>
        <%- include('./partials/footers') %>
    </section>
    
    <!-- script -->
    <%- include('./partials/scripts') %>
</body>
</html>