<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body>
    <section class="container">
    </section>
    <section class="page">
        <%- include('./partials/acciones_admin') %>
        <%- include('./partials/headers',{ infoUsuario: infoUsuario }) %>
        <main class="main">
            <div class="contenedor-video">
                <video id="intro-video" autoplay loop muted>
                    <source src="/video/intro-l2.mp4">
                </video>
                <button id="mute-btn">
                    <i id="mute-icon" class="fa-solid fa-volume-xmark"></i>
                </button>
            </div>
            
            <section class="venta-compra" id="venta-compra">
                <div class="titulo titulo-block">
                    <i class="fa-solid fa-tags"></i> Las ofertas Del dia
                </div>
                <section class="lista-de-productos">
                    <% Ofertas.forEach(oferta => { %>
                        <article class="tarjeta-producto">
                            <a href="/productos/detalle/<%=oferta.item_id  %>">
                                <div class="tarjeta-producto-imagen">
                                    <img src="/images/productos/<%= oferta.weapon ? oferta.weapon.image : 'noimage.png' %>">
                                </div>
                                <div class="tarjeta-producto-info">
                                    <h3 class="producto-info-nombre"><%= oferta.weapon ? oferta.weapon.name : 'Sin arma asociada' %></h3>
                                    <div class="producto-info-precio">
                                        <div class="tipo-pago">
                                            <span class="producto-precio-oro">
                                                Adena: <%=oferta.cantidad_adena %> </span>
                                            <img src="/images/productos/adena.png" alt="adena">
                                        </div>
                                        <div class="tipo-pago">
                                            <span class="producto-precio-dinero">
                                                Pesos: $<%=oferta.cantidad_dinero %></span>
                                            <img src="/images/productos/dolar.png" alt="adena" width="25px">
                                        </div>
                                    </div>
                                </div>
                                <!-- <p style="text-align: center;"><%= oferta.weapon ? oferta.weapon.item_id : 'Sin arma asociada' %></p> -->
                            </a>
                        </article>
                    <% }) %>
                    

                </section>
                
            </section>
        </main>
        <%- include('./partials/footers') %>
    </section>
    
    <!-- script -->
    <%- include('./partials/scripts') %>
</body>
</html>