<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <section class="container"></section>
    <section class="page">
        <%- include('./partials/acciones_admin') %>
        <%- include('./partials/headers') %>
        
       <main class="main">
            <div class="separador"></div>
            <section id="quienes-somos" class="quienes-somos">
                <h2>Quiénes Somos</h2>
                <div class="separador"></div>
                <div class="team-container">
                    <div class="team-member">
                        <img src="images/autores/leo.png" alt="Foto de miembro 1" class="team-photo">
                        <h3>Leo</h3>
                        <p>El estratega técnico del grupo. Apasionado por el backend, Juan se encarga de que todo funcione a la perfección detrás de escena.</p>
                    </div>
                    <div class="team-member">
                        <img src="images/autores/flamewing2.png" alt="Foto de miembro 2" class="team-photo">
                        <h3>Alfredo</h3>
                        <p>Diseñador y amante de los detalles. Da vida a nuestras ideas con su toque creativo, transformando lo técnico en experiencias visuales increíbles.</p>
                    </div>
                    <div class="team-member">
                        <img src="images/autores/luciano.png" alt="Foto de miembro 3" class="team-photo">
                        <h3>Luciano</h3>
                        <p>Desarrollador frontend y entusiasta de la tecnología. Carlos es quien convierte lo visual en realidad, dándole vida a cada línea de código.</p>
                    </div>
                    <div class="team-member">
                        <img src="images/autores/gabriel.png" alt="Foto de miembro 3" class="team-photo">
                        <h3>Gabriel</h3>
                        <p>Desarrollador frontend y entusiasta de la tecnología. Carlos es quien convierte lo visual en realidad, dándole vida a cada línea de código.</p>
                    </div>
                    <div class="team-member">
                        <img src="images/autores/marcos.png" alt="Foto de miembro 3" class="team-photo">
                        <h3>Marcos</h3>
                        <p>Desarrollador frontend y entusiasta de la tecnología. Carlos es quien convierte lo visual en realidad, dándole vida a cada línea de código.</p>
                    </div>
                </div>
            </section>
       </main>
        
       <%- include('./partials/footers') %>
    </section>
    
    <!-- script -->
    <%- include('./partials/scripts') %>
</body>
</html>