<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{'titulo':datos.titulo}) %>
   

</head>
<body>
    <%- include('../partials/headers',{ infoUsuario: infoUsuario }) %>
    <section class="content">
        <div class="container-fluid">
            <div class="row" style="display: flex; justify-content: center;">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Crear Producto Nuevo</h3>
                        </div>
                        <!-- /.card-header -->
                           <!-- activo mensaje si hace post -->
                        <% if(datos.msg!=""){ %>
                            <div class="alert alert-success" role="alert">
                                <h5><i class="icon fas fa-check"></i> Crear producto Nuevo!</h5>
                                    <%= datos.msg %>
                              </div>
                      <% } %>
                        <!-- form start -->
                        <form action="/admin/register" method="post" id="form-editar" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" value="">
                                </div>
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                    <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" value="">
                                </div>
                                <div class="form-group">
                                    <label for="productCode">Código del Producto</label>
                                    <input type="text" class="form-control" id="productCode" name="productCode" placeholder="Enter productCode" value="">
                                </div>
                                <div class="form-group">
                                    <label for="image">Imagen</label>
                                    <img src="" width="150px" alt="Sin Imagen">
                                    <input type="file" class="form-control" id="image" name="image" placeholder="Enter image" value="">
                                    

                                </div>
                                <div class="form-group">
                                    <label for="price">Precio General</label>
                                    <input type="text" class="form-control" id="price" name="price" placeholder="Enter price" value="">
                                </div>
                                <div class="form-group">
                                    <label for="cashPrice">Precio  de Contado</label>
                                    <input type="text" class="form-control" id="cashPrice" name="cashPrice" placeholder="Enter cashPrice" value="">
                                </div>
                                <div class="form-group">
                                    <label for="mercadoPagoPrice">Precio de MercadoPago</label>
                                    <input type="text" class="form-control" id="mercadoPagoPrice" name="mercadoPagoPrice" placeholder="Enter mercadoPagoPrice" value="">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="category">
                                        <option selected="selected">Laptops</option>
                                        <option>Accessories</option>
                                        <option>Desktops</option>
                                        <option>Gamers</option>
                                        <option>Extras</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Crear Nuevo Producto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer',{'pie':datos.pie}) %>
    <%- include('../partials/script') %>
</body>
</html>