<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <section class="container"></section>
    <section class="page">
        <%- include('../partials/acciones_admin') %>
        <%- include('../partials/headers',{ infoUsuario: infoUsuario }) %>
        
        <main class="main">
            <section id="contacto" class="contacto">
                <div id="alert" class="alert hidden">
                    <span id="alert-message"></span>
                    <button onclick="closeAlert()">×</button>
                </div>
                <div class="separador"></div>
                <h2>Contacto</h2>
                <p>¿Tienes alguna consulta o reclamo? Llena el formulario y nos pondremos en contacto contigo a la brevedad.</p>
                <form action="/usuarios/contacto" method="post" class="form-contacto" id="form-contacto">
                    <div class="form-group">
                        <label for="nombre">Nombre Completo</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="area">Área de Contacto</label>
                        <select id="area" name="area" required>
                            <% Areas.forEach(area => { %>
                                <option value=<%=  area.id_area %>><%= area.nombre_area  %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea id="mensaje" name="mensaje" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn-enviar" id="enviar-btn" >Enviar</button>
                </form>
            </section>
        </main>
        
        
        <%- include('../partials/footers') %>
    </section>
    
    <!-- script -->

   
    <%- include('../partials/scripts') %>
    <script>
        // Verifica si hay un aviso pasado desde el servidor y muestra la alerta
        const aviso = <%- JSON.stringify(aviso) %>; // Renderizar la variable en el script
    
        if (aviso === 'OK') {
            Swal.fire({
                        title: 'Enviado!',
                        text: 'Tu mensaje ha sido enviado correctamente, pronto se comunicaran con usted a su correo',
                        icon: 'success'
                    })
        } else if (aviso === 'Error') {
            Swal.fire({
                        title: 'Enviado!',
                        text: 'Tu mensaje no pudo ser recibido, pruebe de enviarlo de nuevo mas tarde',
                        icon: 'danger'
                    })
        }
    </script>

</body>
</html>