<!DOCTYPE html>
<html lang="es-AR">
<%- include('../partials/head',{'titulo':datos.titulo}) %>

  <body>
    <%- include('../partials/headers',{'titulo':datos.titulo}) %>
    <main>

      <div class="account">
        <div class="item">
          <!-- activo mensaje si hace post -->
          <% if(datos.msg){ %>
            <div class="alert alert-success" role="alert">
              <h5><i class="icon fas fa-check"></i> Gracias por su Registro!</h5>
                  <%= datos.msg %>
            </div>
          <% } %>

          <div class="item-login item-register">
            <h3>Registro de usuario</h3>
            <hr>
            <div class="content col-2">
              
              <div class="row_titulo">
                <h4>Datos de Acceso</h4>
              </div>
              
              <form action="/users/register" id="formRegister" method="post" class="formRegister">
                <div class="form-group">
                  <input class="form-input datos" type="email" id="email" name="email" required placeholder="Email" value="<%= locals.old && old.email %>">
                  <% if(locals.errors && errors.email){ %>
                    <p class="feedback"><%= errors.email %></p>
                  <% } %>
                </div>
               
                <div class="form-group">
                  <input class="form-input datos" type="password" id="password" name="password" required placeholder="Contraseña" value="<%= locals.old && old.password %>">
                  <% if(locals.errors && errors.email){ %>
                    <p class="feedback"><%= errors.password %></p>
                  <% } %>
                </div>
                
                <div class="form-group ">
                  <input class="form-input datos" type="password" id="password2" name="password2" required placeholder="Confirmar contraseña" value="<%= locals.old && old.password2 %>">
                  <% if(locals.errors && errors.email){ %>
                    <p class="feedback"><%= errors.password2 %></p>
                  <% } %>
                </div>
                

              <div class="row_titulo">
                <h4>Información personal</h4>
              </div>
             
                <div class="form-group">
                  <input class="form-input datos" type="text" id="nombre" name="nombre" required placeholder="Nombre" value="<%= locals.old && old.nombre %>">
                  <% if(locals.errors && errors.email){ %>
                    <p class="feedback"><%= errors.nombre %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <input class="form-input datos" type="text" id="apellido" name="apellido" required placeholder="Apellido" <%= locals.old && old.apellido %>>
                  <% if(locals.errors && errors.email){ %>
                    <p class="feedback"><%= errors.apellido %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <input class="form-input datos" type="text" id="dni" name="dni" required placeholder="Número de DNI" value="<%= locals.old && old.dni %>">
                  <% if(locals.errors && errors.email){ %>
                    <p class="feedback"><%= errors.dni %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <input class="form-input datos" type="text" id="telefono" name="telefono" required placeholder="Número de teléfono" <%= locals.old && old.tel %>>
                  <% if(locals.errors && errors.email){ %>
                    <p class="feedback"><%= errors.telefono %></p>
                  <% } %>
                </div>
                <input type="hidden" id="express" name="express" value="0">

            </div>
            <div class="cta">
              <div>
                  <input type="submit" id="myBtn" name="myBtn" class="btn btn-primary" value="Registrarme">
              </div>
            </div>

            </form>
          </div>

        </div>

        <div class="item">
          <div class="item-account">
            <h3>¿Por qué registrarse?</h3>
            <hr>
            <p>Con tu registro podrás realizar compras online en nuestro sitio web. Los datos que dejes aquí los
              utilizaremos para contactarnos y enviarte los productos que hayas comprado. También los utilizaremos para
              la
              confección de los comprobantes fiscales que deben acompañar a dichos productos. No utilizaremos tus datos
              para ningún otro fin, ni para enviarte información que no hayas solicitado. Para más información mira
              nuestras <a href="#">políticas de privacidad</a>.</p>
            <h4>Recordá:</h4>
            <p>Es muy importante que coloques todos tus datos reales a la hora de registrar tu cuenta. Ante cualquier
              inconveniente vamos a estar comunicándonos con vos por teléfono o vía email.</p>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer',{'pie':datos.pie}) %>

    <%- include('../partials/script') %>
  </body>

</html>